Source: soapyremote
Section: libs
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake,
    libavahi-client-dev,
    libsoapysdr-dev (>= 0.3.0)
Standards-Version: 4.1.1
Homepage: https://github.com/pothosware/SoapyRemote/wiki
Vcs-Git: https://github.com/pothosware/SoapyRemote.git
Vcs-Browser: https://github.com/pothosware/SoapyRemote

Package: soapysdr0.6-module-remote
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, avahi-daemon
Description: Soapy Remote - Remote device support for Soapy SDR.
 A Soapy module that supports remote devices within the Soapy API.

Package: soapysdr-module-remote
Architecture: all
Depends: soapysdr0.6-module-remote, ${misc:Depends}
Description: Soapy Remote - Remote device support for Soapy SDR.
 A Soapy module that supports remote devices within the Soapy API.
 .
 This is an empty dependency package that pulls in the remote module
 for the default version of libsoapysdr.

Package: soapysdr-server
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, init-system-helpers, avahi-daemon
Description: Soapy Remote - Remote device support for Soapy SDR.
 The SoapySDRServer server application for remote devices.
