Source: soapyremote
Section: hamradio
Priority: optional
Maintainer: Josh Blum <josh@pothosware.com>
Build-Depends:
    debhelper (>= 9.0.0),
    cmake,
    libavahi-client-dev,
    libsoapysdr-dev (>= 0.3.0)
Standards-Version: 4.1.4
Homepage: https://github.com/pothosware/SoapyRemote/wiki
Vcs-Git: https://github.com/pothosware/SoapyRemote.git
Vcs-Browser: https://github.com/pothosware/SoapyRemote

Package: soapysdr0.7-module-remote
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, avahi-daemon
Description: Use SoapySDR devices over network (client module)
 The SoapyRemote project provides a client module and a server that make it
 possible on the client side to list and access hardware supported by SoapySDR
 modules on the server as if they were local modules.
 .
 This package contains the client module.

Package: soapysdr-module-remote
Architecture: all
Depends: soapysdr0.7-module-remote, ${misc:Depends}
Description: Use SoapySDR devices over network (default client module)
 The SoapyRemote project provides a client module and a server that make it
 possible on the client side to list and access hardware supported by SoapySDR
 modules on the server as if they were local modules.
 .
 This is an empty dependency package that pulls in the client module for the
 default version of libsoapysdr.

Package: soapysdr-server
Section: libs
Architecture: any
Conflicts: soapyremote-server
Replaces: soapyremote-server
Provides: soapyremote-server
Depends: ${shlibs:Depends}, ${misc:Depends}, init-system-helpers, avahi-daemon
Description: Use SoapySDR devices over network (server)
 The SoapyRemote project provides a client module and a server that make it
 possible on the client side to list and access hardware supported by SoapySDR
 modules on the server as if they were local modules.
 .
 This package contains the server.
